*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.dis-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  color: #ffffff;
}

.align-items-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.justify-content-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.is-flex {
  display: flex !important;
}

header {
  position: relative;
}

.nav-container {
  display: flex;
  width: 100%;
  padding: 2rem 1.6rem;
  background-color: #000156;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}

.logo-container {
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.logo {
  font-size: 3rem;
}

nav {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.nav-links {
  list-style-type: none;
  overflow: hidden;
}

.nav-links li {
  padding: 0 2rem;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
}

.nav-links li a:hover,
.dropdown .dropbtn:hover {
  color: #3dc1f3;
}

.header-image {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 92, 127, 0.3)), url(../img/Nigeria-flag-blog.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-background-image {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: url(../img/successful-silhouette-man-winner-waving-nigeria-flag-on_barwzorm__F0000.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uppercase {
  text-transform: uppercase;
}

.intro {
  padding: 0.5rem 6rem;
  text-align: center;
  margin: 1.5rem 1rem;
}

.intro-text {
  padding: 0 1.6rem;
  text-align: center;
}

.goals-section {
  color: grey;
}

section {
  color: #6c757d;
  padding: 6rem 0;
  font-size: 1.6rem;
}

.columns-container {
  padding: 12px 0;
}

.is-4-desktop {
  flex: none;
  width: 33.33333%;
}

.column.is-4-desktop {
  flex: none;
  width: 33.33333%;
}

.pos-rel {
  position: relative;
}

.our-goals-icon {
  font-size: 4.5rem;
}

.is-center {
  text-align: center;
}

.goal-description,
.h2-padding {
  padding: 2rem;
}

.h2-font {
  font-size: 3rem;
}

.footer {
  padding: 6rem 0;
  font-size: 1.6rem;
  text-align: center;
  background-color: #000156;
  color: #ffffff;
}

.footer-container {
  padding: 0 16px;
  max-width: 115.2rem;
  margin: 0 auto;
  position: relative;
}

.social {
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.social-links {
  display: block;
  font-size: 2.5rem;
  padding: 1rem;
  color: #ffffff;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.social-links:hover {
  background-color: #ffffff;
  color: #000156;
  border-radius: 36rem;
  transform: scale(1.5);
}

.social-links-circle {
  border: 2px solid #ffffff;
  border-radius: 36rem;
  margin: 1rem;
}

.section-form-side {
  padding: 0 2rem;
}

.section-form {
  max-width: 100rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  background-color: white;
}

.login-header {
  padding-bottom: 3.2rem;
  text-align: center;
}

.signin-body {
  background-color: #ececec;
}

.logo.increase-h2 {
  font-size: 8rem;
}

.login-header-p {
  font-size: 2rem;
}

.form {
  padding: 3.2rem 0;
}

.form-welcome {
  font-size: 1.6rem;
  color: #6c757d;
}

.form-div {
  padding: 2rem 0;
}

.form-div p {
  font-weight: bold;
}

input[type="email"], 
input[type="password"], 
input[type="number"], 
input[type="text"], 
input[type="search"],
input[type="file"],
select {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 0.1rem solid #cccccc;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  border-radius: 0.8rem;
}

select {
  background-color: #ffffff;
}

input[type="email"], 
input[type="password"], 
input[type="number"], 
input[type="text"], 
input[type="search"], 
select:focus {
  outline-color: #000156;
  border-radius: 0.8rem;
}

.is-border {
  border: 2px solid #cccccc;
  border-radius: 0.8rem;
}

button {
  background-color: #000156;
  color: #ffffff;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  border: 2px solid #ffffff;
  cursor: pointer;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #ffffff;
  color: #000156;
  border: 2px solid #000156;
}

.admin {
  padding-top: 1rem;
  text-align: center;
}

.form-header {
  height: 9rem;
  background-color: #ffffff;
  color: #6c757d;
}

.form-header {
  background-color: #000156;
}

.party {
  padding: 0 16px;
  max-width: 115.2rem;
  margin: 0 auto;
  position: relative;
}

.party-title {
  font-size: 2rem;
  text-align: center;
}

.columns {
  display: flex;
}

.columns.is-multiline {
  flex-wrap: wrap;
  width: 100%;
}

.is-4-desktop {
  flex: none;
  width: 33.33333%;
}

.column {
  height: auto;
}

.column.is-4-desktop {
  flex: none;
  width: 33.33333%;
}

.card {
  max-width: 100%;
  position: relative;
  margin: 1rem;
  height: auto;
  background-color: #ffffff;
  padding: 1rem;
}

.party-image {
  width: 100%;
  height: 20rem;
}

.party-image-container {
  width: 100%;
}

.content {
  width: 100%;
}

.action-buttons {
  margin-top: 2rem;
}

.action-button-links {
  margin: 1rem;
}

a.action-button-link {
  padding: 0.5rem 1rem;
  background: #000156;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0.5rem;
  border: 2px solid transparent;
}

a.action-button-link:hover {
  background: #ffffff;
  color: #000156;
  border: 2px solid #000156;
}

a.action-button-link.delete-button {
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #ff0000;
}

a.action-button-link.delete-button:hover {
  color: #ff0000;
  background: #ffffff;
}

.m-t-1 {
  margin-top: 1rem;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.8rem;  
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown button {
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #000156;
  background-color: #f9f9f9;
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #ffffff;
  color: #6c757d !important;
  font-size: 1.4rem;
}

.dropdown-content a:hover {
  background-color: #dddddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

table {
  border-collapse: collapse;
}

tr {
  border: none;
  border-bottom: 1px solid #cccccc;
  height: 6.5rem;
}

#candidates th {
  width: 20rem;
}

#candidates {
  text-align: center;
  width: 100%;
}

.is-blue {
  color: #000156;
}

.opacity {
  opacity: 0.9;
}

.form 
.is-black {
  color: #000000;
}

td {
  border: none;
  border-bottom: 1px solid #cccccc;
}

.profile-image {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}

.profile-pic {
  width: 100%;
  border-radius: 180rem;
  height: 100%;
}

.profile-name {
  padding: 2rem 0;
}

.reset-button {
  text-align: right;
  margin: 4rem 0 0 0;
}

.reset-admin-button {
  text-align: center;
}

#menu-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 1.6rem;
  color: #ffffff;
  width: 100%;
}

#menu {
  z-index: 2;
  position: absolute;
  top: 15px;
  padding: 2rem;
  right: 0;
  color: #ffffff;
  font-size: 2rem;
  display: none;
}

.cross {
  z-index: 2;
  padding: 2rem;
  font-size: 2rem;
  color: #ffffff;
  margin: 15px;
}

.menu-nav {
  padding: 2rem 0;
}

#menu:hover {
  cursor: pointer;
}

#overlay {
  position: fixed;
  display: none;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .95;
  background-color: #000156;
  z-index: 2;
  cursor: pointer;
}

#overlay:hover {
  cursor: pointer;
}

.nav-font-side {
  font-size: 2rem;
}

/* .view-port {
  height: 100vh;
} */

.nav-link a {
  text-decoration: none;
  color: #ffffff;
}

.nav-link a:hover {
  color: #3dc1f3;
}

.menu-nav-links {
  padding: 2rem;
  list-style: none;
}

/* RESPONSIVE CSS */
@media only screen and (max-width: 950px) {
  .column.is-4-desktop {
    width: 50%;
  }

  .column.is-6-tablet {
    width: 50%;
  }

  .nav-links {
    display: none;
  }

  #menu {
    display: block;
  }

  .column-space {
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 515px) {
  .column.is-4-desktop {
    width: 100%;
  }

  body {
    font-size: 1.4rem !important;
  }

  button {
    padding: 1rem;
    font-size: 1.2rem;
  }

  #overlay {
    width: 100%;
  }

  .small-font {
    font-size: 1.4rem !important;
  }

  .small-h2 {
    font-size: 2.5rem !important;
  }
}